# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CHEAPINO_WIRELESS_LEFT

config ZMK_KEYBOARD_NAME
    default "Cheapino WL"

config ZMK_SPLIT
    default y

endif # SHIELD_CHEAPINO_WIRELESS_LEFT

if SHIELD_CHEAPINO_WIRELESS_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_CHEAPINO_WIRELESS_RIGHT

if SHIELD_CHEAPINO_WIRELESS_DONGLE

config ZMK_KEYBOARD_NAME
    default "Cheapino WL"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config BT_MAX_CONN
    default 7

config BT_MAX_PAIRED
    default 7

endif # SHIELD_CHEAPINO_WIRELESS_DONGLE
