# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_RP2040_ZERO
    select ZMK_BOARD_COMPAT if BOARD_RP2040_ZERO_RP2040_ZMK
    imply RETAINED_MEM if BOARD_RP2040_ZERO_RP2040_ZMK
    imply RETENTION if BOARD_RP2040_ZERO_RP2040_ZMK
    imply RETENTION_BOOT_MODE if BOARD_RP2040_ZERO_RP2040_ZMK
