# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_CHEAPINOV2_RP2040ZERO

config ZMK_KEYBOARD_NAME
    default "Cheapino v2"

config ZMK_MOUSE
    default y

endif # SHIELD_CHEAPINOV2_RP2040ZERO
